body {
  margin: 0;
  background-color: #1316f9;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font-family: "Permanent Marker", cursive;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-size: 10rem;
  color: #fc00d9;
}

.btn {
  border: #fc00d9;
  color: #fc00d9;
  list-style: none;
}

.splash-btn-container {
  display: flex;
}

.btn-container {
  border: 5px solid #fc00d9;
  border-radius: 5px;
  margin: 0rem 3rem 0rem 3rem;
  padding: 10px;
}

.btn {
  color: #fc00d9;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #8a207c;
}

.splash-battleship-image {
  position: absolute;
  height: 30rem;
  color: #fc00d9;
  width: auto;
  right: 0;
  left: 70vw;
  bottom: 1vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.taken,
.ship {
  background-color: hsl(0, 0%, 80%);
}

.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, 0.25);
}

.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  margin: 10px;
  display: flex;
}

.submarine-container-vertical {
  width: 40px;
  height: 120px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  margin: 10px;
  display: flex;
}

.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container {
  width: 160px;
  height: 40px;
  margin: 10px;
  display: flex;
}

.battleship-container-vertical {
  width: 40px;
  height: 160px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.carrier-container {
  width: 200px;
  height: 40px;
  margin: 10px;
  display: flex;
}

.carrier-container-vertical {
  width: 40px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ship div {
  width: 40px;
  height: 40px;
}

.boom {
  background-color: red;
}

.miss {
  background-color: black;
}

.connected,
.ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}
